@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");

:root {
  --base-grid: 8px;
  --ratio: 1.333;
  --step--1: calc(var(--step-0) / var(--ratio));
  --step-0: 1rem;
  --step-1: calc(var(--step-0) * var(--ratio));
  --step-2: calc(var(--step-1) * var(--ratio));
  --step-3: calc(var(--step-2) * var(--ratio));
  --step-4: calc(var(--step-3) * var(--ratio));
  --step-5: calc(var(--step-4) * var(--ratio));
  --step-6: calc(var(--step-5) * var(--ratio));
  --step-7: calc(var(--step-6) * var(--ratio));
}

/* Reset Universal */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

abbr {
  text-decoration: none;
  font-variation-settings: "wght" 600;
}

abbr:hover {
  font-weight: bold;
  transition: 0.6s;
}

/* Base HTML e Body */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #1a1a1a;
  font-family: "Open Sans", "sans-serif";
}

h2,
h3 {
  font-family: "Oswald", "Open Sans", "sans-serif";
}

/* Fundo Base */
header {
  width: 100%;
  min-height: 140vh;
  position: relative;
  overflow: hidden;
  background-color: #1a1a1a;
  background-image: url("Home.png");
  /*background-image: url("home-background.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
  line-height: 60pt;
}

h1,
h2,
h3,
p,
li {
  margin-right: 10rem;
  margin-left: 10rem;
}

/* HEADER H1 COM LINHA VERTICAL */
header h1 {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #fff9f9;
  margin-top: 6rem;
  position: relative;
  font-size: var(--step-2);
  letter-spacing: -0.05rem;
  font-variation-settings: "wght" 500;
  opacity: 0.9;
}

header h1::before {
  content: "";
  height: 30px;
  width: 3px;
  background-color: #fff9f9;
  border-radius: 10px;
  align-self: center;
}

/* HEADER H2 EM MAIÚSCULAS */
header h2 {
  font-family: "Oswald";
  font-size: var(--step-6);
  text-transform: uppercase;
  color: white;
  letter-spacing: -0.1rem;
  font-variation-settings: "wght" 700;
  animation: weightPulse 3s ease-in-out;
}

h3 {
  font-size: var(--step-4);
  line-height: 0px; /* 0% */
  letter-spacing: -0.05rem;
  margin-bottom: 2rem;
  margin-top: 10rem;
}

p,
li,
a {
  font-size: var(--step-1);
}

p {
  text-align: justify;
  word-spacing: -0.01rem;
  letter-spacing: -0.03rem;
  line-height: 150%;
  font-variation-settings: "wght" 300;
}

/*Teste com Camadas*/
/*
header::before {
	content: "";
	position: absolute;
	inset: 0;
	background-image:
		url("home-camada2.png"),
		url("home-camada1.png");
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-size: cover, cover, cover;
	background-position: center -10%, center 92%, center center;
	z-index: -3;
	transform: translateY(-0rem)
}

header::after {
	content: "";
	position: absolute;
	inset: 0;
	background-image: 
	url("home-camada3.png"),
	url("home-camada4.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 90%;
	z-index: -2;
	transform-origin: center bottom;
}*/

/* SUMMARY */
#zen-summary {
  width: 100%;
  min-height: 28vh;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  margin-top: -2rem;
  color: white;

  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}

#zen-summary::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("summary.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 100%;

  z-index: -1;
}

#zen-summary p {
  font-size: var(--step-1);

  text-align: justify;
}

#zen-summary a {
  color: white;
}

/*Road - Section*/

/*PREAMBLE*/
#zen-preamble {
  /* The main ID is 'zen-preamble' */
  width: 100%;
  min-height: 75vh;
  position: relative;
  overflow: hidden;
  background-color: #1a1a1a;
  background-image: url("road-1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-content: center;

  gap: 1rem;
}

#zen-preamble::after {
  /* Corrected the ID to 'zen-preamble' */
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("road-2.png"); /* Added the missing semicolon here */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 98%;
  z-index: 9999;

  /* Animação de fade + leve subida para todas (simula fadeIn da camada3 e fixas) */
  opacity: 0;

  animation: fadeInMove 1.2s ease-out forwards;
}

#zen-preamble p {
  font-variation-settings: "wght" 400;
}

/* EXPLANATION */
#zen-explanation {
  width: 100%;
  min-height: 140vh;
  position: relative;
  overflow: hidden;
  background-color: #1a1a1a;
  background-image: url("about1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1rem;

  color: white;
}

/* Camada 1 (about2.png) com delay 0s */
#zen-explanation::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("about2.png"), url("about4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 90%;
  z-index: -3;
  animation: dance2 2s ease-in-out infinite;
}

/* Camada 2 (about3.png) com delay */
#zen-explanation::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("about3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 92%;
  z-index: -2;
  animation: dance1 6s ease-in-out infinite;
}

#zen-explanation p {
  font-variation-settings: "wght" 400;
}

/*PARTICIPATION*/

#zen-participation {
  width: 100%;
  min-height: 140vh;
  position: relative;
  overflow: hidden;
  background-color: #1a1a1a;
  background-image: url("participation.png");
  background-repeat: no-repeat;
  background-position: center 20%;
  background-size: cover;
  z-index: -1;

  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  gap: 1rem;
}

#zen-participation h3 {
  margin-top: -35rem;
  margin-bottom: 3rem;
}

#zen-participation a {
  color: black;
}

#zen-participation p {
  font-variation-settings: "wght" 400;
  line-height: 170%;
}

#zen-benefits {
  width: 100%;
  min-height: 160vh;
  position: relative;
  overflow: hidden;
  background-color: #1a1a1a;
  background-image: url("Benefits.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-content: center;

  gap: 1rem;

  color: white;
}

#zen-benefits::before {
  /* Corrected the ID to 'zen-preamble' */
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("Benefits2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 90%;
  z-index: -3;
  animation: dance2 2s ease-in-out infinite;
}

#zen-benefits::after {
  /* Corrected the ID to 'zen-preamble' */
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("Benefits2.png"); /* Added the missing semicolon here */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 98%;
  z-index: 9999;

  /* Animação de fade + leve subida para todas (simula fadeIn da camada3 e fixas) */
  opacity: 0;

  animation: Moon 1.2s ease-out forwards;
}

#zen-benefits p {
  font-variation-settings: "wght" 400;
}

#zen-requirements {
  width: 100%;
  min-height: 160vh;
  position: relative;
  overflow: hidden;
  background-color: #1a1a1a;
  background-image: url("Requirements1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-content: center;

  gap: 1rem;
}

#zen-requirements::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("Requirements2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 90%;
  z-index: -1;
  animation: dance2 6s ease-in-out infinite;
}

#zen-requirements p {
  font-variation-settings: "wght" 400;
}

#zen-requirements a {
  color: black;
}

#zen-requirements h3 {
  margin-bottom: 2rem;
}

footer {
  order: 2;
  margin-top: auto;

  bottom: 0;
  margin-top: auto;
  width: 100%;
  min-height: 50vh;
  position: relative;
  overflow: hidden;
  background-color: #1a1a1a;
  background-image: url("Credits.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: last baseline;
  align-content: flex-end;
  gap: 1.5rem;
}

footer a {
  color: white;
  margin: 0rem 0rem;
  font-weight: 400;
  font-size: var(--step-3);
}

aside {
  width: 100%;
  min-height: 160vh;
  position: relative;
  overflow: hidden;
  background-color: #1a1a1a;
  background-image: url("DESIGN A.png");
  background-repeat: no-repeat;
  background-position: 90% center;
  background-size: cover;
  z-index: 1;
  order: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;

  margin-top: 5rem;
}

.wrapper a {
  color: black;
  font-variation-settings: "wgth" 400;
}

.wrapper h3 {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

li {
  list-style: none;
  line-height: 160%;
}

/* ANIMAÇÃO DE PESO DA FONTE */
@keyframes weightPulse {
  from {
    font-variation-settings: "wght" 400;
  }
  to {
    font-variation-settings: "wght" 700;
  }
}

/* Animação fadeIn para ::before (camadas 1,2,3) */
@keyframes fadeInMove {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* keyframes diferentes */
@keyframes dance1 {
  0% {
    transform: translateX(-2%) rotateZ(-1deg);
  }
  50% {
    transform: translateX(2%) rotateZ(1deg);
  }
  100% {
    transform: translateX(-2%) rotateZ(-1deg);
  }
}

@keyframes dance2 {
  0% {
    transform: translateX(1%) rotateZ(0.5deg);
  }
  50% {
    transform: translateX(-1%) rotateZ(-0.5deg);
  }
  100% {
    transform: translateX(1%) rotateZ(0.5deg);
  }
}

@keyframes dance3 {
  0% {
    transform: translateX(1%) rotateZ(0.5deg);
  }
  50% {
    transform: translateX(-1%) rotateZ(-0.5deg);
  }
  100% {
    transform: translateX(1%) rotateZ(0.5deg);
  }
}

@keyframes moon {
  0% {
    transform: translateX(1%) rotateZ(0.5deg);
  }
  50% {
    transform: translateX(-1%) rotateZ(-0.5deg);
  }
  100% {
    transform: translateX(1%) rotateZ(0.5deg);
  }
}
/* RESPONSIVIDADE */

@media (min-width: 1800px) {
  h1,
  h2,
  h3,
  p,
  li {
    margin-left: 12rem;
    margin-right: 12rem;
  }

  header h1 {
    font-size: var(--step-4);
    margin-top: 8rem;
  }

  header h2 {
    font-size: var(--step-6);
  }

  h3 {
    font-size: var(--step-4);
  }

  p,
  li,
  a {
    font-size: var(--step-2);
  }

  header {
    line-height: 80pt;
  }

  #zen-summary p,
  #zen-summary a {
    font-size: var(--step-3);
  }

  #zen-summary {
    gap: 3rem;
    padding: 2rem;
  }

  /* Exemplo opcional de largura máxima para evitar quebras ruins em telas ultra wide */
  body {
    max-width: 1800px;
    margin: 0 auto;
  }

  aside {
    min-height: 160vh;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  h1,
  h2,
  h3,
  p,
  li {
    margin-right: 0rem;
    margin-left: 8rem;
  }

  /* HEADER H1 COM LINHA VERTICAL */
  header h1 {
    margin-top: 3rem;
    font-size: var(--step-2);
    letter-spacing: -0.05rem;
  }

  header h1::before {
    height: 25px;
  }

  /* HEADER H2 EM MAIÚSCULAS */
  header h2 {
    font-size: var(--step-5);
    letter-spacing: -0.01rem;
  }
  header {
    line-height: 48pt;
  }

  header::before {
    background-position: center -10%, center 92%, center center;
    transform: translateY(1rem);
  }

  header::after {
    transform: translateY(2rem);
  }

  h3 {
    margin-bottom: 2rem;
    margin-top: 6rem;
  }

  p {
    line-height: 150%;
  }

  #zen-summary {
    min-height: 55vh;
    padding: 0rem;
    margin-top: -2rem;
    gap: 1rem;
  }

  #zen-summary p {
    font-size: var(--step-1);
    font-variation-settings: "wght" 300;
    margin-right: 8rem;
  }

  #zen-summary a {
    font-size: var(--step-1);
  }

  p {
    margin-right: 8rem;
  }

  /*Road - Section*/

  /*PREAMBLE*/
  #zen-preamble {
    /* The main ID is 'zen-preamble' */
    min-height: 90vh;
    gap: 1rem;
  }

  #zen-preamble p {
    font-variation-settings: "wght" 400;
  }

  /* EXPLANATION */
  #zen-explanation {
    min-height: 200vh;
    gap: 1rem;
  }

  #zen-explanation p {
    font-variation-settings: "wght" 400;
  }

  #zen-explanation p {
    font-size: var(--step-1);
  }

  /*PARTICIPATION*/

  #zen-participation {
    min-height: 200vh;
  }

  #zen-participation h3 {
    margin-top: -35rem;
    margin-bottom: 3rem;
  }

  #zen-participation a {
    color: black;
  }

  #zen-participation p {
    font-variation-settings: "wght" 400;
    line-height: 170%;
  }

  #zen-benefits {
    min-height: 200vh;
  }

  #zen-benefits p {
    font-variation-settings: "wght" 400;
    line-height: 170%;
  }

  #zen-requirements {
    min-height: 250vh;
  }

  #zen-requirements p {
    font-variation-settings: "wght" 400;
  }

  #zen-requirements a {
    color: black;
  }

  #zen-requirements h3 {
    margin-bottom: 2rem;
  }

  aside {
    min-height: 160vh;
  }
}

@media (max-width: 1121px) {
  h1,
  h2,
  h3,
  p,
  li {
    margin-right: 0rem;
    margin-left: 8rem;
  }

  /* HEADER H1 COM LINHA VERTICAL */
  header h1 {
    margin-top: 3rem;
    font-size: var(--step-1);
    letter-spacing: -0.05rem;
  }

  header h1::before {
    height: 25px;
  }

  /* HEADER H2 EM MAIÚSCULAS */
  header h2 {
    font-size: var(--step-5);
    letter-spacing: -0.01rem;
  }
  header {
    line-height: 48pt;
  }

  header::before {
    background-position: center -10%, center 92%, center center;
    transform: translateY(1.5rem);
  }

  header::after {
    transform: translateY(2rem);
  }

  h3 {
    margin-bottom: 2rem;
    margin-top: 6rem;
  }

  p {
    line-height: 150%;
  }

  #zen-summary {
    min-height: 55vh;
    padding: 0rem;
    margin-top: -2rem;
    gap: 1rem;
  }

  #zen-summary p {
    font-size: var(--step-1);
    font-variation-settings: "wght" 300;
    margin-right: 8rem;
  }

  #zen-summary a {
    font-size: var(--step-1);
  }

  p {
    margin-right: 8rem;
  }

  /*Road - Section*/

  /*PREAMBLE*/
  #zen-preamble {
    /* The main ID is 'zen-preamble' */
    min-height: 90vh;
    gap: 1rem;
  }

  #zen-preamble p {
    font-variation-settings: "wght" 400;
  }

  /* EXPLANATION */
  #zen-explanation {
    min-height: 200vh;
    gap: 1rem;
  }

  #zen-explanation p {
    font-variation-settings: "wght" 400;
  }

  #zen-explanation p {
    font-size: var(--step-1);
  }

  /*PARTICIPATION*/

  #zen-participation {
    min-height: 200vh;
  }

  #zen-participation h3 {
    margin-top: -35rem;
    margin-bottom: 3rem;
  }

  #zen-participation a {
    color: black;
  }

  #zen-participation p {
    font-variation-settings: "wght" 400;
    line-height: 170%;
  }

  #zen-benefits {
    min-height: 200vh;
  }

  #zen-benefits p {
    font-variation-settings: "wght" 400;
    line-height: 170%;
  }

  #zen-requirements {
    min-height: 250vh;
  }

  #zen-requirements p {
    font-variation-settings: "wght" 400;
  }

  #zen-requirements a {
    color: black;
  }

  #zen-requirements h3 {
    margin-bottom: 2rem;
  }

  .wrapper {
    margin-top: 3rem;
  }

  .wrapper h3 {
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  aside {
    min-height: 160vh;
  }
}

@media (max-width: 1030px) {
  h1,
  h2,
  h3,
  p,
  li {
    margin-right: 0rem;
    margin-left: 8rem;
  }

  /* HEADER H1 COM LINHA VERTICAL */
  header h1 {
    margin-top: 3rem;
    font-size: var(--step-1);
    letter-spacing: -0.05rem;
  }

  header h1::before {
    height: 20px;
  }

  /* HEADER H2 EM MAIÚSCULAS */
  header h2 {
    font-size: var(--step-4);
    letter-spacing: -0.01rem;
  }

  header {
    line-height: 38pt;
  }

  header::before {
    background-position: center -10%, center 82%, center center;
  }

  header::after {
    transform: translateY(1rem);
  }

  #zen-summary {
    min-height: 45vh;
    padding: 0rem;
    margin-top: -2rem;
    gap: 1rem;
  }

  h3 {
    margin-bottom: 2rem;
    margin-top: 6rem;
  }

  p {
    line-height: 150%;
  }

  #zen-summary {
    min-height: 55vh;
    padding: 0rem;
    margin-top: -2rem;
    gap: 1rem;
  }

  #zen-summary p {
    font-size: var(--step-0);
    font-variation-settings: "wght" 300;
    margin-right: 8rem;
  }

  #zen-summary a {
    font-size: var(--step-0);
  }

  h3 {
    font-size: var(--step-3);
  }

  p {
    font-size: var(--step-0);
    margin-right: 8rem;
  }

  /*Road - Section*/

  /*PREAMBLE*/
  #zen-preamble {
    /* The main ID is 'zen-preamble' */
    min-height: 90vh;
    gap: 1rem;
  }

  #zen-preamble p {
    font-variation-settings: "wght" 400;
  }

  /* EXPLANATION */
  #zen-explanation {
    min-height: 180vh;
    gap: 1rem;
  }

  #zen-explanation p {
    font-variation-settings: "wght" 300;
  }

  #zen-explanation p {
    font-size: var(--step-0);
  }

  /*PARTICIPATION*/

  #zen-participation {
    min-height: 200vh;
  }

  #zen-participation h3 {
    margin-top: -35rem;
    margin-bottom: 3rem;
  }

  #zen-participation a {
    color: black;
    font-size: var(--step-0);
  }

  #zen-participation p {
    font-variation-settings: "wght" 400;
    line-height: 170%;
  }

  #zen-benefits {
    min-height: 200vh;
  }

  #zen-benefits p {
    font-variation-settings: "wght" 400;
    line-height: 170%;
  }

  #zen-requirements {
    min-height: 250vh;
  }

  #zen-requirements p {
    font-variation-settings: "wght" 400;
  }

  #zen-requirements a {
    font-size: var(--step-0);
  }

  #zen-requirements h3 {
    margin-bottom: 2rem;
  }

  aside {
    min-height: 140vh;
  }
}

/* Tablet */
@media (max-width: 1023px) and (min-width: 768px) {
  h1,
  h2,
  h3,
  p,
  li {
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: left;
  }

  header h1 {
    font-size: var(--step-1);
    margin-top: 2rem;
  }

  header h2 {
    font-size: var(--step-4);
  }

  h3 {
    font-size: var(--step-2);
  }

  p,
  li,
  a {
    font-size: var(--step-1);
  }

  header {
    line-height: 36pt;
  }

  #zen-summary {
    min-height: 45vh;
    padding: 0rem;
    margin-top: -2rem;
    gap: 1rem;
  }

  h3 {
    margin-bottom: 2rem;
    margin-top: 6rem;
  }

  p {
    line-height: 150%;
  }

  #zen-summary {
    min-height: 55vh;
    padding: 0rem;
    margin-top: -2rem;
    gap: 1rem;
  }

  #zen-summary p {
    font-size: var(--step-0);
    font-variation-settings: "wght" 300;
    margin-right: 8rem;
  }

  #zen-summary a {
    font-size: var(--step-0);
  }

  h3 {
    font-size: var(--step-3);
  }

  p {
    font-size: var(--step-0);
    margin-right: 8rem;
  }

  /*Road - Section*/

  /*PREAMBLE*/
  #zen-preamble {
    /* The main ID is 'zen-preamble' */
    min-height: 90vh;
    gap: 1rem;
  }

  #zen-preamble p {
    font-variation-settings: "wght" 400;
  }

  /* EXPLANATION */
  #zen-explanation {
    min-height: 180vh;
    gap: 1rem;
  }

  #zen-explanation p {
    font-variation-settings: "wght" 300;
  }

  #zen-explanation p {
    font-size: var(--step-0);
  }

  /*PARTICIPATION*/

  #zen-participation {
    min-height: 200vh;
  }

  #zen-participation h3 {
    margin-top: -35rem;
    margin-bottom: 3rem;
  }

  #zen-participation a {
    color: black;
    font-size: var(--step-0);
  }

  #zen-participation p {
    font-variation-settings: "wght" 400;
    line-height: 170%;
  }

  #zen-benefits {
    min-height: 200vh;
  }

  #zen-benefits p {
    font-variation-settings: "wght" 400;
    line-height: 170%;
  }

  #zen-requirements {
    min-height: 250vh;
  }

  #zen-requirements p {
    font-variation-settings: "wght" 400;
  }

  #zen-requirements a {
    font-size: var(--step-0);
  }

  #zen-requirements h3 {
    margin-bottom: 2rem;
  }

  aside {
    min-height: 140vh;
  }
}

/* Mobile */
@media (max-width: 767px) {
  h1,
  h2,
  h3,
  p,
  li {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    text-align: center;
  }

  header h1 {
    font-size: var(--step-0);
    margin-top: 1.5rem;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  header h1::before {
    height: 16px;
  }

  header h2 {
    font-size: var(--step-3);
  }

  h3 {
    font-size: var(--step-1);
  }

  p,
  li,
  a {
    font-size: var(--step-0);
  }

  header {
    line-height: 32pt;
  }

  #zen-summary {
    padding: 0.5rem;
    gap: 0.5rem;
  }

  #zen-summary p,
  #zen-summary a {
    font-size: var(--step-0);
  }

  aside {
    min-height: 140vh;
  }
}
